*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 67%;
    /* overflow-x: hidden; */
    color: black;
    line-height: 1.5;
    background: #031D4E url('./assets/body-bg.png') repeat-x ;
}
/*  font-family: "Segoe UI",Arial, Helvetica, sans-serif */
a, button, input, select, textarea{
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    border: none;
    background: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
ul{
    list-style: none;
}


 
div.container{
        min-height: 100vh;
    height: auto;
    margin: 0 auto;
}

.container{
   
    width: 920px;
    
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #7F1B10;
    border-right: 1px solid #7F1B10;
    padding-bottom: 1px;
}

/* Header Top */
header {
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #444;
  background-color: #fff;
  border-top: 4px solid #7F1B10;
  
}

.header-top .container {
  background-color: #323232;
  min-height: 49px;
  max-width: 100%;
  width: 918px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: start;
  justify-content: space-between;
  border-left: 1px solid #7F1B10;
  border-right: 1px solid #fff;
   
}

.nav-logo {
  /* width: 100%; */
  width: 400px;
  height: 48px;
  display: inline-block;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav-logo img {
  object-fit: contain;
}

.nav-top-links {
  display: flex;
  margin-top: 16px;
  font-size: 13px;
}

.nav-top-links a {
  color: rgb(666, 666, 666);
  margin-inline: 15px 10px;
}

.nav-top-links a:hover {
  text-decoration: underline;
}

/* Header Bottom */
.header-bottom {
  background-color: #ebebeb;
  padding-left: 0;
  width: 918px;
  
  border-top: 1px solid #C1C1AF;
}
.nav-menu{
    display: flex;
    
}
.nav-menu-item{
    position: relative;
}

.nav-menu-item > a{
    display: inline-block;
    line-height: 32px;
    padding: 5px;
    color: #1596D1;
    font-family: 'Segoe UI', Helvetica, Tahoma, Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    min-width: 125px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #c1c1af;
}
.nav-menu-item > a:hover{
background: #fff;
text-decoration: underline;
color: #256725;
}

/* SUBMENU */
.submenu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  opacity: 1;
    width: 950px;
    background-color: #F6F6F6;
    border: 1px solid #C1C1AF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: 0.3s;
    display: none;

}
.nav-menu-item:hover .submenu{
    display: block;
}


.submenu-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 1fr;
    align-items: start;
}

.submenu-section {
  display: flex;
  flex-direction: column;
    border-right: 1px solid #C1C1AF;
    max-width: 200px;
}
.submenu-section:nth-child(3){
    border-right: none;
}

.submenu-title {
  color: #555;
  font-size: 11px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.submenu-section a {
  color: #1596d1;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.2s;
}

.submenu-section a:hover {
  color: #598abb;
  text-decoration: underline;
}

.tools-section {
   border-left: none;
    border: 1px solid #C1C1AF;
    max-width: 286px;
    margin-top: 20px;
    padding: 5px;
    padding-right: 20px;
}

.tools-grid {
  display: grid;
  margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
}
.tools-grid a{
    padding: 0;
    max-width: 130px;
    min-height: 40px;
}

.tools-more {
  font-weight: 700 !important;
  color: #598abb !important;
  max-width: 130px;
  min-height: 40px;
  padding: 0 !important;
}




/* Hero */

.hero-header{
    padding: 0 8px;
    font-size: 12px;
   color: black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.hero-header a{
     color: #0033cc;
    text-decoration: none;
    font-weight: bold;
}
.faq-link{
    display: inline-block;
    max-width: 101px;
    width: 100%;
}